.listItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: 2% 10%;
  border-radius: 10px;
}
.inp {
  width: 20%;
}
.title {
  margin-left: 15px;
}
.but {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
}
.compItem {
  justify-content: start;
  opacity: 0.5;
}
.comp {
  text-decoration: line-through;
}
